<h1>Listing comment</h1>

<table>
  <tr>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.comments.each do |item| %>
  <tr>
    <td><%= comment.id %></td>
    <td><%= link_to 'Show', item %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
