<% provide(:title, 'Contact') %>
<html>
<h2>   Contact Us </h2>
<head>
  <title>This is the contact page for MyWebsites <%= yield(:title)%></title>
</head>
<body>
<address>
  <strong>Starbucks, Corporation.</strong><br>  795 Folsom Ave, Suite 600<br>  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
</body>
</html>
