<html>
<head>
  <title>This is the help page for MyWebsites | Help</title>
</head>
<body>
 <h1>Help</h1>
 <p>
   Get help on our website at
   <a href="http://localhost:3000/static_pages/contact">Contact Us</a>
 </p>
</body>
</html>
