<h1>Help Center</h1>
<div class="promo">
  <h3 class="heading_promo">Customer Help</h3>
  <img alt="Connect Over Coffee" src="//assets.starbucks.com/assets/23a17b3cb4e44d9d8bbd3e32433a24fd.jpg" />
  <p>How can we help?  Find out how to contact us along with a useful list of frequently asked questions.</p>
</div>
