<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "CommentHouse", "http://localhost:3000", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li class="active"><%= link_to "Home",     "http://localhost:3000"%></li>
          <li class="active"><%= link_to "Help",     {:action=>"help", :controller=>"/static_pages",id: "logo"}%></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

